/*======================
font import
=======================*/
/*@import "https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&display=swap";*/
/*@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap";*/

/*======================
Common modification
=======================*/
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: "Open", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
}

h6, h5, h4, h3, h2, h1 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 800;
    line-height: 1.2;
    color: #111
}

.title{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 65px;
}
.title-first{
    color: #a8a8a8;
}
.title-second{
    color: #0e0e0e;
}

.sub-title{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-style:  normal;
    font-size: 35px;
}

@media (max-width: 750px) {
    .title{
        font-size: 35px;
    }
    .sub-title{
        font-size: 20px;
    }
}
/*======================
Common modification end
=======================*/


/*======================
nav bar start
=======================*/

.navMod {
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.navMod::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: black;
    transition: width 1s linear;
}

.navMod:hover::after {
    width: 100%;
}
/*======================
nav bar end
=======================*/


/*======================
button modify start
=======================*/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary {
    box-shadow: inset 0 0 0 0 var(--bs-dark);
}

.btn.btn-primary:hover {
    box-shadow: inset 1000px 0 0 0 var(--bs-light) !important;
    color: var(--bs-primary) !important;
}
.btn.btn-danger:hover {
    box-shadow: inset 1000px 0 0 0 var(--bs-light) !important;
    color: var(--bs-danger) !important;
}
/*======================
button modify end
=======================*/
.nav-mod a{
    font-size: 18px;
    margin: 0 5px;
    padding: 8px;
}
.nav-mod a:hover{
    background-color: #efefef;
    color: #000;
}
.nav-mod-active{
    color: var(--bs-primary);
}

/*======================
User Nav bar start
=======================*/
.fixed-top, .nav-fixed #layoutSidenav #layoutSidenav_nav, .nav-fixed .topnav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

#layoutSidenav {
    display: flex;
}

#layoutSidenav #layoutSidenav_nav {
    flex-basis: 225px;
    flex-shrink: 0;
    transition: transform 0.15s ease-in-out;
    z-index: 1038;
    transform: translateX(-225px);
}

#layoutSidenav #layoutSidenav_content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
    flex-grow: 1;
    min-height: calc(100vh - 56px);
    margin-left: -225px;
}

.sidenav-toggled #layoutSidenav #layoutSidenav_nav {
    transform: translateX(0);
}

.sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1037;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

@media (min-width: 992px) {
    #layoutSidenav #layoutSidenav_nav {
        transform: translateX(0);
    }

    #layoutSidenav #layoutSidenav_content {
        margin-left: 0;
        transition: margin 0.15s ease-in-out;
    }

    .sidenav-toggled #layoutSidenav #layoutSidenav_nav {
        transform: translateX(-225px);
    }

    .sidenav-toggled #layoutSidenav #layoutSidenav_content {
        margin-left: -225px;
    }

    .sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
        display: none;
    }
}

.nav-fixed .topnav {
    z-index: 1039;
}

.nav-fixed #layoutSidenav #layoutSidenav_nav {
    width: 225px;
    height: 100vh;
    z-index: 1038;
}

.nav-fixed #layoutSidenav #layoutSidenav_nav .sidenav {
    padding-top: 56px;
}

.nav-fixed #layoutSidenav #layoutSidenav_nav .sidenav .sidenav-menu {
    overflow-y: auto;
}

.nav-fixed #layoutSidenav #layoutSidenav_content {
    padding-left: 225px;
    top: 56px;
}

.nav .nav-link .nav-link-icon,
.sidenav-menu .nav-link .nav-link-icon {
    margin-right: 0.5rem;
}

.topnav {
    padding-left: 0;
    height: 56px;
    z-index: 1039;
}

.topnav .navbar-brand {
    width: 225px;
    margin: 0;
}

.topnav.navbar-dark #sidebarToggle {
    color: rgba(255, 255, 255, 0.5);
}

.topnav.navbar-light #sidebarToggle {
    color: #212529;
}

.sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: nowrap;
}

.sidenav .sidenav-menu {
    flex-grow: 1;
}

.sidenav .sidenav-menu .nav {
    flex-direction: column;
    flex-wrap: nowrap;
}

.sidenav .sidenav-menu .nav .sidenav-menu-heading {
    padding: 1.75rem 1rem 0.75rem;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
}

.sidenav .sidenav-menu .nav .nav-link {
    display: flex;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    position: relative;
}

.sidenav .sidenav-menu .nav .nav-link .nav-link-icon {
    font-size: 0.9rem;
}

.sidenav .sidenav-menu .nav .nav-link .sidenav-collapse-arrow {
    display: inline-block;
    margin-left: auto;
    transition: transform 0.15s ease;
}

.sidenav .sidenav-menu .nav .nav-link.collapsed .sidenav-collapse-arrow {
    transform: rotate(-90deg);
}

.sidenav .sidenav-menu .nav .sidenav-menu-nested {
    margin-left: 1.5rem;
    flex-direction: column;
}

.sidenav .sidenav-footer {
    padding: 0.75rem;
    flex-shrink: 0;
}

.sidenav-dark {
    background-color: #212529;
    color: rgba(255, 255, 255, 0.5);
}

.sidenav-dark .sidenav-menu .sidenav-menu-heading {
    color: rgba(255, 255, 255, 0.25);
}

.sidenav-dark .sidenav-menu .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

.sidenav-dark .sidenav-menu .nav-link .nav-link-icon {
    color: rgba(255, 255, 255, 0.25);
}

.sidenav-dark .sidenav-menu .nav-link .sidenav-collapse-arrow {
    color: rgba(255, 255, 255, 0.25);
}

.sidenav-dark .sidenav-menu .nav-link:hover {
    color: #fff;
}

.sidenav-dark .sidenav-menu .nav-link.active {
    color: #fff;
}

.sidenav-dark .sidenav-menu .nav-link.active .nav-link-icon {
    color: #fff;
}

.sidenav-dark .sidenav-footer {
    border-top: 2px solid black;
    background-color: #212529;
}
/*======================
User Nav bar end
=======================*/

/*======================
404 page
=======================*/

.four_zero_four_bg h1 {
    font-size: 80px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
    text-decoration: none;
}
/*======================
404 page end
=======================*/

/*======================
login and registration start
=======================*/
.custom-background::before {
    background-color: #0e0e0e;
    border-radius: 15px 15px 35% 35%;
    height: 60%;
    width: 100%;
    content: "";
    top: 0;
    left: 0;
    position: absolute;
}

.custom-border {
    border-radius: 15px;
}

.login-text {
    z-index: 1;
    color: white;
}
/*======================
login and registration end
=======================*/

/*======================
Footer Start
=======================*/
.footer {
    background-color: #0e0e0e;
    color: rgba(255, 255, 255, .8);
    margin-top: 6rem;
}

.footer-item,
.footer-item a {
    color: rgba(255, 255, 255, .7);
    text-transform: capitalize;
}
/*======================
Footer End
=======================*/

/*======================
404 page
=======================*/

.four_zero_four_bg h1 {
    font-size: 80px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
    text-decoration: none;
}
/*======================
404 page end
=======================*/

/*======================
banner start
=======================*/
.banner {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.banner-1{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url("../uploads/banner-1.jpg");
}
.banner-2{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url("../uploads/banner-2.jpg");
}

.banner h1{
    font-size: 2.25rem;
}
.banner h5 {
    font-size: 1.2rem;
    color: rgba(255,255,255,0.8);
}

@media (min-width: 992px) {
    .banner {
        height: 100vh;
        min-height: 40rem;
        padding-top: 4.5rem;
        padding-bottom: 0;
    }

    .banner h5 {
        font-size: 1.4rem;
    }

    .banner h1 {
        font-size: 3rem;
    }
}
@media (min-width: 1200px) {
    .banner h1{
        font-size: 3.5rem;
    }
}
.custom-color{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 14px;
}
@media (max-width: 725px) {

    .banner {
        padding-top: 2rem;
        height: 100vh;
        min-height: 40rem;
    }
}
/*======================
banner end
=======================*/

/*======================
about start
=======================*/
.about-us {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), url("../uploads/about-us.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

/*======================
about end
=======================*/

/*======================
logo start
=======================*/
.logo {
    height: 255px;
    width: 100%
}
@media (max-width: 800px) {
    .logo {
        height: 80px;
    }
}
/*======================
logo end
=======================*/